<%- include('header'); -%>
<div class="header-div">
  <h1 class="main-heading"><%= weatherData.city %></h1>
</div>

<div class="grid-container">
  <div class="icon-display flex-container">
    <div class="description-div">
      <p class="description-heading"><%= weatherData.weatherDescription %></p>
    </div>

    <div class="icon-div">
      <img
        class="weather-icon"
        src="https://openweathermap.org/img/wn/<%= weatherData.icon %>@4x.png"
        alt="weather icon"
      />
    </div>
  </div>

  <div class="temperature-display flex-container">
    <div class="data-div">
      <p class="data-heading">Temperature:</p>
      <p><%= weatherData.temperature %> &degC</p>
    </div>

    <div class="data-div">
      <p class="data-heading">Pressure:</p>
      <p><%= weatherData.pressure %> hPa</p>
    </div>

    <div class="data-div">
      <p class="data-heading">Humidity:</p>
      <p><%= weatherData.humidity %>%</p>
    </div>
  </div>

  <div class="wind-display flex-container">
    <div class="data-div">
      <p class="data-heading">Wind Speed:</p>
      <p><%= weatherData.windSpeed %> meter/sec</p>
    </div>

    <div class="data-div">
      <p class="data-heading">Wind Direction:</p>
      <p><%= weatherData.windDirection %>&deg</p>
    </div>

    <div class="data-div">
      <p class="data-heading">Cloudiness:</p>
      <p><%= weatherData.cloudiness %>%</p>
    </div>
  </div>

  <div class="precipitation-display flex-container">
    <div class="data-div">
      <p class="data-heading">Visibility:</p>
      <p><%= weatherData.visibility %>m</p>
    </div>

    <div class="data-div">
      <p class="data-heading">Rainfall:</p>

      <% if (weatherData.rainfall !== "No Data Available.") { %>
      <p><%= weatherData.rainfall['1h'] %> mm</p>
      <% } else { %>
      <p><%= weatherData.rainfall %></p>
      <% } %>
    </div>

    <div class="data-div">
      <p class="data-heading">Snowfall:</p>

      <% if (weatherData.snowfall !== "No Data Available.") { %>
      <p><%= weatherData.snowfall['1h'] %> mm</p>
      <% } else { %>
      <p><%= weatherData.snowfall %></p>
      <% } %>
    </div>
  </div>
</div>

<div class="footer-div">
  <form action="/" method="redirect">
    <button class="submit-button" type="submit">Submit new query</button>
  </form>
</div>

<%- include('footer'); -%>
